*,
body {
    font-family: Cairo, Arial, sans-serif;
    scroll-behavior: smooth;
}



:root {
    --main-color: #4A43C4;
    --secondary2-color: #4A43C4
}

html[dir=rtl] .copyrights,
html[dir=rtl] footer {
    margin-left: 0 !important;
    padding-left: 0 !important
}

@font-face {
    font-family: Cairo;
    src: url("../fonts/Cairo-Regular.woff2") format("woff2"), url("../fonts/Cairo-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Cairo;
    src: url("../fonts/Cairo-Bold.woff2") format("woff2"), url("../fonts/Cairo-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

body.no-scroll {
    overflow: hidden
}

body {
    overflow-x: hidden
}
.active{
    color: var(--main-color);
    border: var(--main-color);
}
.imageActive{
    transform: scale(1.05);
}
html {
    height: 100%
}


a {
    text-decoration: none
}

section {
    min-height: 20vh;
    padding: 50px 0
}

@media (max-width:500px) {
    section {
        min-height: 20vh;
        padding: 30px 0
    }
}